body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

div {
  max-width: 800px;
  margin: 25px auto;
  padding: 17px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #333;
}

audio {
  width: 100%;
  margin: 10px 0;
}

input[type="file"] {
  margin-bottom: 10px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  background-image: linear-gradient(141deg, #adf1e0, rgb(70, 56, 224) 28%, #ff7171 98%);
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

input[type="file"]:hover {
  background-color: #2980b9;
}


.actionBtn button {
  color: #fff;
  background-color: #333333;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 18px;
  border: 0.5px solid black;
  border-radius: 4px;
}

.actionBtn button:hover, .plylistbtn:hover{
  background-color: #f0f0f0;
  color: #222;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

strong {
  font-weight: bold;
}

p {
  margin: 0;
  color: #666;
}
.playlist{
  max-height: 150px;
  overflow: auto;
  list-style: none; 
  padding: 0;
}

.plylistbtn{
  background-color: #ff4d4d;
  color: #fff;
  padding: 8px;
  font-size: 13px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.owner{
  color: #585858;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

/* Responsive styling for action buttons at 600px screen width */
@media (max-width: 600px) {
  .actionBtn button {
    margin: 10px;
  }
} 
